<div>
  <p class="text-center mt-2 small">出力結果の全履歴から削除したいものを削除できます。</p>
  <p class="text-center mt-0 small text-danger">ただし一度削除すると戻せません</p>
</div>
<div class="mb-4 d-flex justify-content-center align-items-center">

</div>

<div class="translation-wrapper mx-auto">
  <div class= "d-flex align-items-center">
    <%= render "regist/h-delete" %>
  </div>
</div>
