<div class="history-template container mt-3">
  <% if @histories.present? %>
    <table class="table table-striped template-category-select ">
        <% @histories.each do |history| %>
          <tr>
            <td><%= history.record %></td>
            <td class="text-end category-2">
              <div class="copy-wrapper d-inline-flex align-items-center">
                <button class="copy-btn-template"
                        type="button"
                        aria-label="コピー"
                        data-content="<%= history.record %>">
                  <%= image_tag "copy_icon_128895.svg", alt: "コピーする" %>
                </button>
                <div class=" ms-2 copy-toast text-success small" style="display:none;">コピーしました</div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">現在登録はありません。</p>
    <p class="text-center">編集画面へGO！</p>
  <% end %>

</div>

<% if @histories.present? %>
  <%= paginate @histories %>
<% end %>
