<div class="container mt-3">
  <div class="d-flex justify-content-end mb-5 px-3 py-2 ">
    <%= link_to "編集", main_edit_history_path, class: "nav-link text-primary fw-semibold"  %>
  </div>

  <p class="text-center">現在登録はありません。</p>
</div>
