<div class="sentence-1">
  <p class="text-center mt-2 small">出力結果の全履歴です。追加したい文章を選択して「追加」ボタンを押してください。</p>
  <p class="text-center mt-2 small text-danger">履歴の削除は、MYテンプレートページの「履歴削除」から削除してください。</p>
</div>
<div class="translation-wrapper mx-auto">
  <div class="d-flex justify-content-center align-items-center">
    <%= render "regist/add" %>
  </div>

  <div class="page-wrapper">
    <%= paginate @translations %>
  </div>
</div>
