<div class="mb-3">
  <p class="text-center mt-2 small">Myテンプレートの登録を削除。</p>
  <p class="text-center mt-2 mb-3 small text-danger">履歴自体の削除は、登録削除後、「履歴削除」タブから削除してください。</p>
</div>


<div class="translation-wrapper mx-auto">
  <div class="d-flex justify-content-center align-items-center">
    <%= render "regist/delete" %>
  </div>

  
</div>
