<div class="d-flex gap-3 mb-4 justify-content-center flex-wrap">
  <%= select_tag :emoji, options_for_select(MessageTemplate.emojis.keys.map { |key|
      [t("enums.message_template.emoji.#{key}"), key]
    }, params[:emoji]), class: "form-select w-auto", id: "js-emoji" %>

  <%= select_tag :tone, options_for_select(MessageTemplate.tones.keys.map { |key|
      [t("enums.message_template.tone.#{key}"), key]
    }, params[:tone]), class: "form-select w-auto", id: "js-tone" %>
</div>

<div class="d-flex mb-3 justify-content-center">
  <%= select_tag :category, options_for_select(MessageTemplate.categories.keys.map { |key|
      [t("enums.list.#{key}"), key]
    }, params[:category]), prompt: "選択してください", class: "form-select w-auto", id: "js-category" %>
</div>

<div id="templates-list">
  <%= render partial: "templates/list", locals: { templates: @templates || [] } %>
</div>
