<div class="container mt-3">
  <style>
    /* PC（768px以上）の時だけタブを大きくする */
    @media (min-width: 768px) {
      #pills-tab .nav-link {
        font-size: 1.0rem !important;
        padding: 0.7rem 1.2rem !important;
      }
    }
  </style>
  <div class=" mb-5 px-3 py-2 ">
    <%= link_to "←1つ前に戻る",  main_index_path, class: "mb-3" %>
  </div>
  <!-- PC -->
  <div class="mt-5 mb-2 mx-auto rounded w-50 position-relative text-center bg-info d-none d-md-block">
    <div class="header-title text-center">
      <h1 class="text-white mb-0 py-2 ">Myテンプレート編集画面</h1>
    </div>
  </div>
  <!-- スマホ -->
  <div class="mt-5 mb-2 mx-auto rounded w-75 position-relative text-center bg-info d-block d-md-none">
    <div class="header-title text-center">
      <h5 class="w-100 text-white mb-0 py-2">Myテンプレート編集画面</h5>
    </div>
  </div>
  <!-- pc -->
  <p class="text-muted small text-center mt-3 d-none d-md-block">
  追加・削除したいテンプレートにチェックを入れてボタンを押してください
  </p>
  <!-- スマホ -->
  <p class="text-muted small text-center mt-3 d-block d-md-none" style="font-size: 0.6rem; line-height: 1.2;">
  追加・削除したいテンプレートにチェックを入れてボタンを押してください
  </p>
  <div class="container py-4">
    <div class="nav nav-pills justify-content-center gap-3 mb-5" id="pills-tab" role="tablist">
      <button class="nav-link active"
              id="pills-addition-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-addition"
              type="button" role="tab"
              aria-controls="pills-addition" aria-selected="true"
              data-turbo="false">
        登録追加
      </button>

      <button class="nav-link"
              id="pills-delete-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-delete"
              type="button" role="tab"
              aria-controls="pills-delete" aria-selected="false"
              data-turbo="false">
        登録削除
      </button>
      <button class="nav-link"
              id="pills-h-delete-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-history_delete"
              type="button" role="tab"
              aria-controls="pills-history_delete" aria-selected="false"
              data-turbo="false">
        履歴削除
      </button>
    </div>



    <div class="tab-content border border-top-0 rounded-bottom py-2 mx-auto w-100 w-md-75 w-lg-50" id="pills-tabContent" style="max-width:750px;">
      <div class="tab-pane fade show active" id="pills-addition" role="tabpanel" aria-labelledby="pills-addition-tab" tabindex="0">
        <%= render "regist_addition" %>
      </div>
      <div class="tab-pane fade" id="pills-delete" role="tabpanel" aria-labelledby="pills-delete-tab" tabindex="0">
        <%= render "regist_delete" %>
      </div>
      <div class="tab-pane fade" id="pills-history_delete" role="tabpanel" aria-labelledby="pills-history_delete-tab" tabindex="0">
        <%= render "history_delete" %>
      </div>
    </div>
  </div>
</div>
