<body class="bg-center p-3 m-0 border-0 bd-example" style="background-color: #fffff0">
<%= link_to "トップへ戻る", root_path, class: "back-link" %>
  <div class="mt-5 mx-auto rounded w-50 position-relative text-center bg-info">
    <!-- PC -->
    <div class="mt-5 mb-2 mx-auto rounded w-50 position-relative text-center bg-info d-none d-md-block">
      <div class="header-title text-center">
        <h1 class="text-white mb-0 py-2 ">サイトの使い方</h1>
      </div>
    </div>
    </div>
    <!-- スマホ -->
    <div class="mt-5 mx-auto rounded w-80 position-relative text-center bg-info">
    <div class="mt-5 mb-2 mx-auto rounded w-100 position-relative text-center bg-info d-block d-md-none">
      <div class="header-title text-center">
        <h2 class="w-100 text-white mb-0 py-2">サイトの使い方</h2>
      </div>
    </div>
  </div>

  <!-- ▼ タブメニュー -->
  <ul class="nav nav-tabs mt-4 justify-content-center" id="guideTab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="auto_guide_tab" data-bs-toggle="tab" href="#auto_guide" role="tab">
        自動生成ガイド
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="template_guide_tab" data-bs-toggle="tab" href="#template_guide" role="tab">
      テンプレートガイド
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="other_guide_tab" data-bs-toggle="tab" href="#other_guide" role="tab">
        その他機能説明
      </a>
    </li>

  </ul>
  <!-- ▲ タブメニュー -->

  <!-- ▼ タブの中身 -->
  <div class="tab-content border-top border-bottom rounded-bottom py-2 mx-auto
              w-100 w-md-75 w-lg-50"
       id="guideTabContent"
       style="max-width:750px;">

    <div class="tab-pane fade show active" id="auto_guide" role="tabpanel" aria-labelledby="auto_guide_tab">
      <%= render "guides/autoguide" %>
    </div>

    <div class="tab-pane fade" id="template_guide" role="tabpanel" aria-labelledby="template_guide_tab">
      <%= render "guides/templateguide" %>
    </div>

    <div class="tab-pane fade" id="other_guide" role="tabpanel" aria-labelledby="other_guide_tab">
      <%= render "guides/others" %>
    </div>

  </div>
  <!-- ▲ タブの中身 -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
