<style>
  /* PC（768px以上）の時だけタブを大きくする */
  @media (min-width: 768px) {
    #pills-tab .nav-link {
      font-size: 1.2rem !important;
      padding: 0.7rem 1.2rem !important;
    }
  }
</style>
<div class="container" id="index">
  <% if logged_in? %>
    <%= render "shared/after_login_view" %>
  <% else %>
    <%= render "shared/before_login_view" %>
  <% end %>
</div>
