<div class="justify-content-center">
<%= link_to "トップへ戻る", root_path, class: "back-link" %>
  <div class="mt-5 position-relative mx-auto text-center rounded w-50" style="bottom:30px;">
    <h1 class="guide-title mb-4">よくある質問（FAQ）</h1>
  </div>
  <div class="d-flex align-items-start">
      <ul class="mt-4 mx-auto w-md-85">
        <li class="mb-3">Q1. 絵文字がつかない/変換されないのはなぜですか？
          <p class="mt-2 small">A.再試行ボタンを押してみてください。何回押してもらっても問題ありません。いくつか提案してくれます。
          <br>関西弁変換だけの場合は絵文字は追加されません。「関西弁+絵文字」を選択してください。</p>
        </li>
        <li class="mt-5 mb-3">Q2. 無料で使えますか？
          <p class="mt-2 small">A.はい、無料でご利用いただけます。</p>
        </li>
        <li class="mt-5 mb-3">Q3. 関西弁変換はどんな文章でもできますか？
          <p class="mt-2 small">A.短すぎる文章だと変換できない場合があります。<br>
          「こんにちは」などはイントネーションの違いくらいしかないためそのまま返されることもあります</p>
        </li>
        <li class="mt-5 mb-3">Q4. コピーした文章はどこに保存されますか？
          <p class="mt-2 small">A.お使いのデバイスのクリップボードに保存されます。アプリ側には保存されません</p>
        </li>
        <li class="mt-5 mb-3">Q5. ユーザー登録をすると何ができますか？
          <p class="mt-2 small">A.「Myテンプレート」機能が使えるようになります。<br>
          自動生成で出力した履歴を元に自身のテンプレートを作成し、表示することができます。</p>
        </li>
        <li class="mt-5 mb-3">Q6. アプリは無料ですか？
          <p class="mt-2 small">A.はい、無料でご利用いただけます。</p>
        </li>
        <li class="mt-5 mb-3">Q7. スマホとPC、どちらでも使えますか？
          <p class="mt-2 small">A.はい、どちらでも利用できます。</p>
        </li>
      </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</div>
