<div class="justify-content-center">
  <%= link_to "トップへ戻る", root_path, class: "mt-6 back-link" %>
  <div class="mt-5 position-relative mx-auto text-center rounded w-50" style="bottom:30px;">
    <h1 class="guide-title mb-4">利用規約</h1>
  </div>
  <div class="d-flex algin-items-start">
      <ul class="mt-4 mx-auto w-85">
        <li class="mb-3">第1条（適用）
          <p class="mt-2 small">本規約は、「EMOJI関西弁変換」（以下「本サービス」）の利用に関する条件を定めるものです。</p>
        </li>
        <li class="mt-5 mb-3">第2条（禁止事項）
          <p class="mt-2 small">ユーザーは以下の行為を行ってはなりません。</p>
          <ul class="mt-2small">
            <li>不正アクセス・システムの改ざん</li>
            <li>他のユーザーや第三者の権利を侵害する行為</li>
            <li>反社会的・違法な目的での利用</li>
            <li>本サービスの運営を妨害する行為</li>
          </ul>
        </li>
        <li class="mt-5 mb-3">第3条（著作権）
          <p class="mt-2 small">本サービス内で提供される文章テンプレート・デザイン・プログラム等の著作権は当方に帰属します</p>
        </li>
        <li class="mt-5 mb-3">第4条（免責事項）
          <ul class="mt-2 small">
            <li>本サービスは、正確な変換結果を保証するものではありません。</li>
            <li>本サービスの利用により生じたトラブル・損害について、当方は一切の責任を負いません。</li>
            <li>本サービスは予告なく内容を変更・停止することがあります。</li>
          </ul>
        </li>
        <li class="mt-5 mb-3">第5条（個人情報）
          <p class="mt-2 small">登録されたメールアドレスなどの個人情報は、ログイン機能とユーザー管理の目的にのみ利用します。</p>
        </li>
        <li class="mt-5 mb-3">第6条（利用停止）
          <p class="mt-2 small">ユーザーが規約に違反した場合、アカウント停止や利用制限を行うことがあります。</p>
        </li>
        <li class="mt-5 mb-3">第7条（規約の変更）
          <p class="mt-2 small">本規約は必要に応じて変更されることがあります。変更後はメールでの配信もしくは本ページに掲載します。</p>
        </li>
      <ul>
  </div>
</div>
