<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
          <h2>パスワードリセットのご案内</h2>
          <p><%= @user.name %> 様,</p>
          <p>パスワードリセットのリクエストを受け付けました。以下のリンクをクリックして、新しいパスワードを設定してください。</p>
          <p><%= link_to "パスワードを再設定する", @url %></p>
          <p>このリンクは30分間有効です。</p>
          <p>もしこのリクエストに心当たりがない場合は、このメールを無視してください。</p>
          <div class="footer">
            <p>EMOJI関西弁変換チーム</p>
          </div>
    </body>
</html>
