<table class="table table-striped template-category-select">
  <tbody>
    <% if (templates || []).empty? %>
      <tr>
        <td colspan="2" class=" text-center text-muted py-4n category-1">
          条件を選択するとテンプレートが表示されます
        </td>
      </tr>
    <% else %>
      <% templates.each do |template| %>
        <tr>
        <!-- テンプレート表示部分 -->
          <td category-1><%= template.content %></td>
          <td class="text-end">
            <div class="copy-wrapper d-inline-flex align-items-center">
              <button class="copy-btn-template "
                      type="button"
                      aria-label="コピー"
                      data-content="<%= template.content %>">
                <%= image_tag "copy_icon_128895.svg", alt: "コピーする", class:"copy-btn-template-image" %>
              </button>
              <div class="ms-2 copy-toast text-success small" style="display:none;">コピーしました</div>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
