<div class="history-message-box">
  <div class="auto-message">
    <h2 class="history-addition-text">Myテンプレートから削除</h2>
    <div class="auto-min-box">
      <p class="auto-2">
        ログイン中にAI生成したテキストの履歴が表示されます。履歴からよく使うテキストを選択・追加すると、Myテンプレートからすぐ使うことができます。
      </p>
    </div>
  </div>

    <%= render "main/regist_delete" %>
    <%= render "shared/no_translation_delete" %>
  </div>
