<header class="bg light border-bottom py-2 mb-2" style="background-color: #fffff0">
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-lightr pb-2 pt-2 position-relative'>
    <div class="container-fluid d-flex align-items-center justify-content-between" style="position: relative;">
      <%= link_to root_path, class: 'navbar-brand', style: 'position: relative; z-index: 1050; cursor: pointer;' do %>
        <%= image_tag 'smallicon.png', size: '52x52', style:'margin-left: 15px; cursor: pointer;'%>
      <% end %>
      <!--現状無効-->
      <button class='navbar-toggler pb-0 ' type="button" data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon py-0'></span>
      </button>

      <!-- ログイン前のナビゲーション -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center text-center">

          <li class="d-flex align-items-center me-7">
            <a href="/guide" class="text-decoration-none me-1" title="サービス利用ガイド">
              <i class="bi bi-question-circle fs-3 text-secondary"></i>
            </a>
            <a href="/guide" class="text-decoration-none">
              <span class="fs-6 text-secondary">使い方</span>
            </a>
          </li>

          <li class="nav-time my-2">
            <%= link_to "ログイン", login_path, class: "nav-link" %>
          </li>

          <li class="nav-time my-2">
            <%= link_to "新規登録", new_user_path, class: "nav-link" %>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
