<header class="bg light border-bottom py-2 mb-2" style="background-color: #fffff0">
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-lightr pb-2 pt-2 position-relative'>
    <div class="container-fluid d-flex align-items-center justify-content-between" style="position: relative;">
      <%= link_to root_path, class: 'navbar-brand', style: 'position: relative; z-index: 1050; cursor: pointer;' do %>
        <%= image_tag 'smallicon.png', size: '32x32', style:'margin-left: 15px; cursor: pointer;'%>
      <% end %>
      <!--現状無効-->
      <button class='navbar-toggler pb-0 ' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon py-0' style="z-index: 1;"></span>
      </button>

      <!-- ログイン前のナビゲーション -->
      <div class="navbar-nav">
        <%= link_to "ログイン", login_path, class: "nav-link" %>
        <%= link_to "新規登録", new_user_path, class: "nav-link" %>
      </div>
    </div>
  </nav>
</header>
