<footer class=" fotter_nav bg light border-top py-3" style="background-color: #fffff0;  position: relative; z-index: 1;">

    <div class="fotter-content text-end " style="font-family:monospace;">
        &copy; 2025 EMOJI関西弁変換
    </div>
  </div>
</footer>
