<footer class="bg light border-top py-3" style="background-color: #fffff0">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-links d-flex gap-4">
      <a href="#" class="me-4 text-decoration-nonne text-dark">よくある質問</a>
      <a href="#" class="me-4 text-decoration-nonne text-dark" style>利用規約</a>
    </div>
    <div class="text-end text-dark" style="font-family:monospace;">
      &copy; 2025 EMOJI関西弁変換
    </div>
</footer>
