<footer class="bg light border-top py-3" style="background-color: #fffff0">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-links d-flex gap-4">
    <%= link_to "よくある質問", faq_path, class: "me-4 text-decoration-none text-dark" %>
    <%= link_to "利用規約", terms_path, class: "me-4 text-decoration-none text-dark" %>
    <%= link_to "プライバシーポリシー", privacy_path, class: "me-4 text-decoration-none text-dark" %>
    <%= link_to "問い合わせフォーム", new_contact_path, class: "me-4 text-decoration-none text-dark" %>
    </div>
    <div class="text-end text-dark" style="font-family:monospace;">
      &copy; 2025 EMOJI関西弁変換
    </div>
</footer>
