<h4 class="t-s-sub-title">AI生成</h4>
<div class="t-s-button-box">

  <%= link_to generators_auto_emoji_path, class: "t-s-button" do %>
    <div class="t-s-btn-text-box">
      <span class="t-s-btn-title">Emoji追加</span>
    </div>
  <% end %>

  <%= link_to generators_auto_kansai_path, class: "t-s-button" do %>
    <div class="t-s-btn-text-box">
      <span class="t-s-btn-title">関西弁変換</span>
    </div>
  <% end %>
  <%= link_to generators_auto_both_path, class: "t-s-button" do %>
    <div class="t-s-btn-text-box">
      <span class="t-s-btn-title">Emoji＋関西弁</span>
    </div>
  <% end %>
</div>
<h4 class="t-s-sub-title">テンプレート</h4>
<div class="t-s-button-box">

  <%= link_to emoji_template_templates_path, class: "t-s-button" do %>
    <div class="t-s-btn-text-box">
      <span class="t-s-btn-title">Emojiテンプレート</span>
    </div>
  <% end %>
</div>
