<div class="tool-select-all">
  <div class="t-s-sub-box">
    <div class="tool-select-box">
      <h3 class="t-s-title">他のおすすめツール</h3>
    </div>
    <!--　表示画面に寄って変わる選択ボタン　-->
    <%= render "shared/no_auto_emoji" %>
  </div>
</div>
