<%= form_with url: delete_history_execute_templates_path, method: :post, local: true, data: { turbo: false } do %>
<% if @translations.present? %>
  <div class="position-relative mx-auto" style="width: 500px;">
    <div class="add-btn-box position-absolute mt-5 end-0" style="top: -50px; right: 30px;">
      <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
    </div>
    <br>
    <br>
    <table class="table-translation table table-striped mb-0">
      <tbody>
        <% @translations.each do |translation| %>
          <tr>
            <td><%= translation.output_text %></td>
            <td class="translation-text text-center align-middle">
              <%= check_box_tag "records[]", translation.output_text %>
            </td>
          </tr
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <p class="text-center mt-4">現在登録はありません。</p>
  <% end %>
<% end %>
